html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
    --primary: rgb(34, 41, 70);
    --accent: rgb(249,35,77);
    --textDark: rgb(2, 5, 17);
    --textLight: rgb(149, 149, 152);
    --textWhite: rgb(255, 255, 255);
    --bg: rgb(233, 236, 252);
}


*,
*::before,
*::after {
    box-sizing: border-box;
}


input, textarea,
button {
    box-shadow: none;
    outline: 0;
    border: 0;
}
a {
    text-decoration: none;
}

/* General */
html {
    font-size: 16px;
}
body {
    font-family: "Nunito", sans-serif;
    line-height: 1.5;
    color: var(--textLight);
    font-size: 1.4rem;
}

.container {
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Padding */
.padding {
    padding: 5rem 0;
}

/* Flex */
.flex{
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.item-start {
    align-items: flex-start;
}

.item-center{
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

/* Columns */
.flex-15 {
    flex: 0 1 15%;
}

.flex-20 {
    flex: 0 1 20%;
}

.flex-25 {
    flex: 0 1 25%;
}

.flex-30 {
    flex: 0 1 30%;
}

.flex-40 {
    flex: 0 1 40%;
}

.flex-50 {
    flex: 0 1 50%;
}

.flex-48 {
    flex: 0 1 48%;
}

.flex-60 {
    flex: 0 1 60%;
}

.grow{
    flex: 1 1 auto;
}
/* Strong */
.line-color{
    color: var(--accent);
}



/* Full width */
.width-full {
    width: 100%;
}

/* Center Elements */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 0.9rem 2rem;
    letter-spacing: 0.8px;
    cursor: pointer;
    background-color: var(--accent);
    color: #ffffff;
    transition: all 200ms ease-in-out;
    font-size: 1.3rem;
    border-radius: 4px;
    font-weight: 600;
    margin-top: 2rem;
}

.btn:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
    color: #ffffff !important;
}

/* Texts */

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-accent {
    color: var(--accent);
}

.uppercase {
    text-transform: uppercase;
}
.font-0{
    font-size: 0;
}

/* Main */
.section{
    padding: 7rem 0;
}

/* article */
.article{
    margin-left: 2rem;
}

/* Heading */
.heading1{
    width: 300px;
    font-size: 2rem;
    font-weight: 900;
    color: var(--textWhite);
    text-transform: capitalize;
    margin-bottom: 4rem;
}
.heading {
    font-size: 3rem;
    font-weight: 900;
    color: var(--textDark);
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.heading-secondary {
    font-size: 3rem;
    color: var(--textDark);
    font-weight: 700;
    margin-bottom: 1rem;
}

/* Navbar */
.navbar {
    padding: 1rem 0;
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 999;
}
.brand {
    font-size: 2.5rem;
    color: var(--textWhite);
    font-weight: 700;
}

.nav a{
    color: var(--textWhite);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 1.5rem;
}
.nav a:hover{
    color: var(--accent);
}
.navbar .btn {
    margin-top: 0;
    text-transform: capitalize;
}
#toggle, .bars {
    display: none;
}

/* Hero */
.hero {
    background: radial-gradient(rgb(53,40,171),rgba(67, 93, 196, 0.6)),url(./banner.png) no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--textWhite);
}
.hero-heading {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

.head-img {
    margin-right: 2rem;
}

/* About */
.about p{
    color: #77767D;
    font-weight: 600;
}

/* Join */
.join{
    background-color: #DFECFF;
}

.inline{
    height: 30px;
    width: 30px;
    font-size: 2rem;
    font-weight: 800;
    color: var(--accent);
    background-color: #DFECFF;
    border-radius: 50%;
    text-align: center;
    margin-top: -2.5rem;
}
.line-box{
    padding: 0.8rem;
    border: 0.2rem dashed var(--accent);
}
.line-box h3 {
    color: var(--textDark);
    font-weight: 700;
    font-size: 2rem;
}
.line-box p{
    color: #6A6970;
}

/* Schedule */
.circle-active{
    color: var(--textWhite);
    font-size: 2rem;
    font-weight: 800;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding-top: 1.5rem;
    text-align: center;
    background-color: #F9234D;
}
.circle{
    color: var(--accent);
    font-size: 2rem;
    font-weight: 800;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding-top: 1.5rem;
    text-align: center;
    background-color: transparent;
    border: 1px dashed #F9234D;
}
.color-line {
    height: 50px;
    width: 1px;
    border: 1px dashed #F9234D;
    margin-left: 4.5rem;
}

.schedule a {
    margin-bottom: 1rem;
}
.schedule-img {
    border-radius: 4px;
    margin-bottom: 4rem;
}

.schedule-box{
    margin-bottom: 5.8rem;
    font-size: 1rem;
}

.schedule-box h2 {
    color: var(--textDark);
    font-size: 2rem;
    font-weight: 800;
}
.schedule-img-box {
    background-color: #DFECFF;
}
.schedule-img-box img{
    padding: 1rem;
}
.schedule-img-box .active{
    color: var(--textWhite);
    border-radius: 6px;
    background-color: var(--accent);
}
.schedule-img-box h5{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--textDark);
}
.schedule-img-box span{
    font-size: 1rem;
    font-weight: 500;
    color: var(--textDark);
}

/* Video */
.banner i{
    color: #F9234D;
    text-align: center;
    padding: 2rem 0;
    margin: 10rem;
    font-size: 2.2rem;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: var(--textWhite);
}
.banner{
    margin: 2rem;
    height: 100vh;
    border-radius: 12px;
    background: url(./banner.png) 100% 100% no-repeat;
}

/* News */
.news{
    background-color: #DFECFF;
}
.news h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--textDark);
    margin: 1rem 0;
}
.news p{
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0;
    color: var(--textLight);
}
.news a{
    color: var(--textDark);
    text-decoration: underline;
}
.news .active{
    color: var(--accent);
}


/* Footer */
.article-footer{
    background-color: #23347B;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
}
.article-footer li{
    color: var(--textLight);
    font-size: 1rem;
    margin: 0.5rem;
}
.footer-link{
    width: 8rem;
}
.footer-link a{
    color: #BCC0D2;
    font-size: 2rem;
    border-radius: 8px;
    height: 2rem;
    width: 2rem;
    border-radius: 8px;
}

.small{
    background-color: #102169;
}

.footer-small{
    padding: 1.8rem;
    font-size: 1.2rem;
}

/* Media Queries Styles */
@media screen and (max-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}
@media screen and (max-width: 992px) {
    html {
        font-size: 14px;
    }
    .container{
        max-width: 960px;
    }
}
@media screen and (max-width: 768px) {
    html{
        font-size: 12px;
        padding-bottom: 10rem;
    }
    .container{
        max-width: 720px;
    }
    .sm-column {
        flex-direction: column;
    }
    .sm-width-full {
        width: 100%;
    }

    .sm-flex-100 {
        flex: 0 1 100%;
        margin: 2rem 0;
    }
    .sm-wrap {
        flex-wrap: wrap;
    }
    .order-1 {
        order: 1;
    }

    .sm-text-center {
        text-align: center;
    }
    .sm-justify-center {
        justify-content: center;
    }

    /* Navbar*/
    .navbar {
        height: 80px;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
    }
    .nav {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background-color: rgba(35, 52, 123, 0.9);
        padding-top: 12rem;
        z-index: 9;
    }
    #toggle:checked ~ .nav {
        display: inline-block;
    }
    .bars {
        font-size: 2rem;
        color: var(--textWhite);
        display: inline-block;
    }
    .brand, .bars {
        position: fixed;
        top: 1.5rem;
        z-index: 99;
    }
    .brand {
        left: 2rem;
    }
    .bars {
        right: 2rem;
    }
    .nav-menu {
        margin: 16px 0;
    }

    /* Hero */
    .hero {
        height: auto;
        padding: 1rem 0 2rem 0;
    }
    .hero img {
        max-height: 500px;
        -o-object-fit: cover;
            object-fit: cover;
            border-top-left-radius: 3rem;
            border-bottom-right-radius: 3rem;
    }

    /* Schedule */
    .sm-circle-active{
        color: var(--textWhite);
        font-size: 1rem;
        font-weight: 800;
        height: 75px;
        width: 75px;
        border-radius: 50%;
        padding-top: 2rem;
        text-align: center;
        background-color: #F9234D;
    }
    .sm-circle{
        color: var(--accent);
        font-size: 1rem;
        font-weight: 800;
        height: 75px;
        width: 75px;
        border-radius: 50%;
        padding-top: 2rem;
        text-align: center;
        background-color: transparent;
        border: 1px dashed #F9234D;
    }
    .sm-color-line {
        height: 80px;
        width: 1px;
        border: 1px dashed #F9234D;
        margin-left: 3rem;
    }

    .sm-schedule-img {
        height: 100px;
        width: 150px;
    }
    .sm-schedule-box{
        margin-bottom: 5rem;
        font-size: 1rem;
        text-align: left;
    }
    
    .sm-schedule-box h2 {
        color: var(--textDark);
        font-size: 2rem;
        font-weight: 800;
    }

    .sm-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    

    /* Banner */
    .banner i{
        color: #F9234D;
        padding: 3rem;
        margin: 10rem;
        font-size: 3rem;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: var(--textWhite);
    }
    .banner{
        margin: 2rem;
        height: 50vh;
        border-radius: 12px;
        background: url(./banner.png) 50% 50% no-repeat;
    }

    /* Footer */
    .footer-link{
        margin: 0 auto;
    }
}
@media screen and (max-width: 576px) {
    html{
        font-size: 10px;
    }
    .container{
        max-width: 540px;
    }
}

@media screen and (max-width: 360px) {
    html{
        font-size: 10px;
    }
    .container{
        max-width: 340px;
    }
    .sm-schedule-img {
        height: 100px;
        width: 100px;
        margin-bottom: 5rem;
    }
    .sm-schedule-box{
        margin-bottom: 6.5rem;
        font-size: 0.8rem;
        text-align: left;
    }
    .sm-schedule-box h2 {
        color: var(--textDark);
        font-size: 1rem;
        font-weight: 800;
    }
}